<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BasePage ANY>
<!ATTLIST BasePage id ID #REQUIRED>
<!ELEMENT JobAd ANY>
<!ATTLIST JobAd id ID #REQUIRED>
<!ELEMENT NewsItem ANY>
<!ATTLIST NewsItem id ID #REQUIRED>

]>
<root id="-1">
  <BasePage id="1074" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2013-10-20T00:47:58" updateDate="2013-11-16T17:43:06" nodeName="Home" urlName="home" path="-1,1074" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1080" nodeTypeAlias="BasePage">
    <title>Home</title>
    <introText><![CDATA[Intro for home page]]></introText>
    <bodyText><![CDATA[<p>body copy for home page</p>
<p> </p>
<p> </p>
<p><a href="/{localLink:1083}" title="Newsroom"><img src="/media/1001/news.jpg" src="/media/1001/news.jpg" alt="News" class="img-rounded"/></a></p>
<p><a href="/{localLink:1100}" title="JobsHome"><img src="/media/1003/jobs.jpg" src="/media/1003/jobs.jpg" alt="Jobs" class="img-rounded"/></a></p>]]></bodyText>
    <seoKeywords>
    </seoKeywords>
    <BasePage id="1083" parentID="1074" level="2" creatorID="1" sortOrder="1" createDate="2013-11-15T20:26:55" updateDate="2013-11-17T02:26:14" nodeName="Newsroom" urlName="newsroom" path="-1,1074,1083" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1094" nodeTypeAlias="BasePage">
      <BasePage id="1084" parentID="1083" level="3" creatorID="1" sortOrder="1" createDate="2013-11-15T20:29:28" updateDate="2013-11-17T00:21:11" nodeName="Latest" urlName="latest" path="-1,1074,1083,1084" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1094" nodeTypeAlias="BasePage">
        <NewsItem id="1095" parentID="1084" level="4" creatorID="1" sortOrder="1" createDate="2013-11-16T00:29:06" updateDate="2013-11-17T00:21:11" nodeName="Man Bites Dog" urlName="man-bites-dog" path="-1,1074,1083,1084,1095" isDoc="" nodeType="1079" creatorName="indra" writerName="indra" writerID="1" template="1082" nodeTypeAlias="NewsItem">
          <summary><![CDATA[A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him.]]></summary>
          <newsDate>2013-11-06T10:14:00</newsDate>
          <title>Man Bites Dog</title>
          <image>1085</image>
          <thumbnail>1085</thumbnail>
          <story><![CDATA[<p>A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. </p>
<p> </p>
<p>A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. </p>
<p> </p>
<p>A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. A man bit a dog who growled at him. </p>]]></story>
        </NewsItem>
        <NewsItem id="1086" parentID="1084" level="4" creatorID="1" sortOrder="1" createDate="2013-11-15T20:42:50" updateDate="2013-11-17T00:21:11" nodeName="Selly Oak Cycle Shelters" urlName="selly-oak-cycle-shelters" path="-1,1074,1083,1084,1086" isDoc="" nodeType="1079" creatorName="indra" writerName="indra" writerID="1" template="1082" nodeTypeAlias="NewsItem">
          <summary><![CDATA[New cycle shelters opened at Selly Oak Station.]]></summary>
          <newsDate>2013-11-14T00:00:00</newsDate>
          <title>New Bus Shelters at Selly Oak Park and Ride</title>
          <image>1087</image>
          <thumbnail>1087</thumbnail>
          <story><![CDATA[<p>So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. </p>
<p>So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. </p>
<p> </p>
<p>So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. So they've installed some new cycle shelters at Selly Oak station. </p>]]></story>
        </NewsItem>
        <NewsItem id="1096" parentID="1084" level="4" creatorID="1" sortOrder="2" createDate="2013-11-16T01:07:04" updateDate="2013-11-17T00:21:11" nodeName="Bus Fares Reduced for OAPs" urlName="bus-fares-reduced-for-oaps" path="-1,1074,1083,1084,1096" isDoc="" nodeType="1079" creatorName="indra" writerName="indra" writerID="1" template="1082" nodeTypeAlias="NewsItem">
          <summary><![CDATA[if you're over-60 you could be a little bit better off.]]></summary>
          <newsDate>2013-11-20T00:00:00</newsDate>
          <title>Bus Fare Reductions for the over-60s</title>
          <image>1085</image>
          <thumbnail>1087</thumbnail>
          <story><![CDATA[<p>Bus fares will be going down for millions of OAPs this winter in line with uncharacteristically benevolent policies being implemented by the government.</p>]]></story>
        </NewsItem>
        <NewsItem id="1097" parentID="1084" level="4" creatorID="1" sortOrder="3" createDate="2013-11-16T05:27:10" updateDate="2013-11-17T00:21:11" nodeName="Take Extra Care this Christmas" urlName="take-extra-care-this-christmas" path="-1,1074,1083,1084,1097" isDoc="" nodeType="1079" creatorName="indra" writerName="indra" writerID="1" template="1082" nodeTypeAlias="NewsItem">
          <summary><![CDATA[Just a little reminder to take care when out walking, driving or crossing electrified railway tracks, over the festive period.]]></summary>
          <newsDate>2012-12-16T00:00:00</newsDate>
          <title>Christmas Safety Message</title>
          <image>1085</image>
          <thumbnail>1085</thumbnail>
          <story><![CDATA[<p>Just a reminder to take extra care out and about this Christmas. You know how dangerous the roads can be at night, especially when its cold and foggy. etc., etc.</p>]]></story>
        </NewsItem>
        <title>Latest News Stories</title>
        <introText><![CDATA[How we've been in the news in the last 12 months.]]></introText>
        <bodyText><![CDATA[<p>Etc. etc.</p>
<p> </p>]]></bodyText>
        <seoKeywords />
      </BasePage>
      <BasePage id="1107" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2013-11-17T00:20:57" updateDate="2013-11-17T00:29:52" nodeName="Admin" urlName="admin" path="-1,1074,1083,1107" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1108" nodeTypeAlias="BasePage">
        <title>News Admin</title>
        <introText><![CDATA[Create and manage Centro press releases.]]></introText>
        <bodyText><![CDATA[]]></bodyText>
        <seoKeywords />
      </BasePage>
      <NewsItem id="1109" parentID="1083" level="3" creatorID="0" sortOrder="3" createDate="2013-11-17T01:50:57" updateDate="2013-11-17T01:54:41" nodeName="Thai Horror Movie" urlName="thai-horror-movie" path="-1,1074,1083,1109" isDoc="" nodeType="1079" creatorName="admin" writerName="indra" writerID="1" template="1082" nodeTypeAlias="NewsItem">
        <summary><![CDATA[A pretty good thai-made horror movie I am watching]]></summary>
        <newsDate>2013-11-16T00:00:00</newsDate>
        <title>Thai Horror Movie</title>
        <image>1085</image>
        <thumbnail>1085</thumbnail>
        <story><![CDATA[<p>Its all about a woman who finds out her fiance is cheating on her. They have a car accident and she dies. Then the horror, such as it is, begins. 6.5/10</p>]]></story>
      </NewsItem>
      <title>Newsroom</title>
      <introText><![CDATA[Welcome to the Centro Newsroom. Blah blah blah public transport networks blah blah blah etc. etc. ]]></introText>
      <bodyText><![CDATA[<p>Browse through our news archive of find the article you want quickly via a Google&amp;trade; powered search.</p>
<p><a href="/{localLink:1084}" title="Latest"> Latest Stories</a></p>]]></bodyText>
      <seoKeywords />
    </BasePage>
    <BasePage id="1088" parentID="1074" level="2" creatorID="1" sortOrder="1" createDate="2013-11-15T20:52:01" updateDate="2013-11-15T20:58:57" nodeName="About" urlName="about" path="-1,1074,1088" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1080" nodeTypeAlias="BasePage">
      <title>About Us</title>
      <introText><![CDATA[This is the about us page. It links to various kinds of information about our organisation.]]></introText>
      <bodyText><![CDATA[<p>Please select what you want by clicking on links and things.</p>]]></bodyText>
      <seoKeywords>
      </seoKeywords>
    </BasePage>
    <BasePage id="1100" parentID="1074" level="2" creatorID="1" sortOrder="2" createDate="2013-11-16T17:16:32" updateDate="2013-11-16T17:19:45" nodeName="JobsHome" urlName="jobshome" path="-1,1074,1100" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1080" nodeTypeAlias="BasePage">
      <title>Careers Section</title>
      <introText><![CDATA[Welcome to the careers section where you can browse and search for a fulfilling career in our company.]]></introText>
      <bodyText><![CDATA[<p>Please contact the HR department if you have any queries.</p>]]></bodyText>
      <seoKeywords>
      </seoKeywords>
      <BasePage id="1103" parentID="1100" level="3" creatorID="1" sortOrder="0" createDate="2013-11-16T17:43:36" updateDate="2013-11-16T22:00:20" nodeName="Vacancies" urlName="vacancies" path="-1,1074,1100,1103" isDoc="" nodeType="1067" creatorName="indra" writerName="indra" writerID="1" template="1105" nodeTypeAlias="BasePage">
        <JobAd id="1104" parentID="1103" level="4" creatorID="1" sortOrder="0" createDate="2013-11-16T17:45:18" updateDate="2013-11-16T21:40:48" nodeName="Chief Washer-Upper" urlName="chief-washer-upper" path="-1,1074,1100,1103,1104" isDoc="" nodeType="1099" creatorName="indra" writerName="indra" writerID="1" template="1098" nodeTypeAlias="JobAd">
          <jobTitle>Chief Washer-Upper</jobTitle>
          <directorate>Facilities</directorate>
          <closingDate>2013-12-31T00:00:00</closingDate>
          <jobDescription><![CDATA[<p>Someone good at washing up who is also able to lead a team of less qualified junior staff.</p>]]></jobDescription>
        </JobAd>
        <title>Current Vacancies</title>
        <introText><![CDATA[A list of roles which are currently being advertised.]]></introText>
        <bodyText><![CDATA[<p>Please apply as per the How To Apply section.</p>]]></bodyText>
        <seoKeywords />
      </BasePage>
    </BasePage>
  </BasePage>
</root>